@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

:root {
  --black: #272d3b;
  --red: #ed176f;
  --coral: #f7817f;
  --gradient: linear-gradient(90deg, var(--red), var(--coral));
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--red);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

section {
  padding: 3rem 9%;
}

.btn {
  display: inline-block;
  padding: 0.7rem 3rem;
  margin-top: 1rem;
  border-radius: 5rem;
  background: var(--gradient);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}
.btn:hover {
  transform: scale(1.1);
}
.btn:active {
  transform: translateY(4px);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--black);
  z-index: 1000;
  padding: 2rem 9%;
  border-bottom: 0.1rem solid #fff3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  font-weight: bolder;
  color: #fff;
  font-size: 2.5rem;
}

header .navbar a {
  font-size: 2rem;
  margin-left: 2.5rem;
  color: #fff;
}

header .navbar a:hover {
  color: var(--red);
}

#menu-bar {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home {
  background: url(./images/home-bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-align: center;
}

.home .content {
  padding-top: 5rem;
  max-width: 70rem;
  margin: 0 auto;
}

.home .content h3 {
  font-size: 6.5rem;
  color: #fff;
}

.home .content p {
  font-size: 1.7rem;
  color: #eee;
  padding: 1rem 0;
}

.home .swiper-container {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.home .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 30rem;
  height: 50rem;
}

.home .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

/* Features Section */
.heading {
  text-align: center;
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 5rem;
  text-transform: uppercase;
  padding: 1rem;
}

.features .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.features .box-container .box {
  margin: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  background: rgba(237, 23, 111, 0.05);
  padding: 1rem;
  width: 450px;
  /* flex:1 1 30rem; */
  cursor: pointer;
}

.features .box-container .box i {
  color: var(--red);
  font-size: 5rem;
  padding: 1rem;
}

.features .box-container .box h3 {
  color: var(--black);
  font-size: 2.4rem;
}

.features .box-container .box p {
  color: #666;
  font-size: 1.5rem;
  padding: 1rem;
}

.features .box-container .box:hover {
  background: var(--gradient);
}

.features .box-container .box:hover > * {
  color: #fff;
}

/* About styles  */
.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 40rem;
}

.about .row .image img {
  width: 100%;
}
 
.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content h3 {
  color: var(--black);
  font-size: 3.5rem; 
}

.about .row .content p {
  color: #666;
  font-size: 1.7rem;
  padding: 1rem 0;
}

.about .row .content .buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about .row .content .buttons a:hover {
  opacity: .7;
}
.about .row .content .buttons a:last-child {
  margin-left: 2rem;
}


/* Media querys */
@media (max-width: 990px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem 4%;
  }
  section {
    padding: 3rem 4%;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--black);
    border-top: 0.1rem solid #fff3;
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar.nav-toggle {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a {
    display: block;
    margin: 1.5rem 0;
    padding: 1rem;
    background: var(--gradient);
    text-align: center;
    border-radius: 0.5rem;
  }
  header .navbar a:hover {
    color: var(--black);
  }
  .fa-times {
    transform: rotate(180deg);
  }
  .home .content h3 {
    font-size: 2rem;
  }
  .home .content p {
    font-size: 1.5rem;
  }

  .about .row .content {
    text-align: center;
  }
  .about .row .content .buttons a {
    width: 100%;
  }
  .about .row .content .buttons a:last-child {
    margin: 1rem 0;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 4rem;
  }
}
